:host {
  display: block;
}
.weather-display-component {
  width: 100% !important;
  background-image: url("/assets/images/ura-druchuk-dcKyndcAiMs-unsplash.jpg");
  height: 100vh;
  background-size: cover;
  overflow-x: hidden !important;
  padding: 10px;

}

.weather-display-component .search {
  margin: auto;
  display: block;
  font-family: 'Rajdhani', sans-serif !important;
}

.search .input-area {
  width: 100%;
  max-width: 400px;
  margin: auto;
  display: block;
  font-family: 'Rajdhani', sans-serif !important;
}

.fas .fa-search {
  text-align: right;
  color: black;
  font-weight: bold;
}

.weather-card {
  height: 400px;
  margin: auto;
  display: block;
  font-family: 'Rajdhani', sans-serif !important;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.weather-card-black {
  background-color: black;
  color: white;
}

.current-weather-data .mat-card-header {
  display: block;
}

.fa-heart-dark:before {
  color: white;
}

h2 {
  text-align: center;
}

.five-day-cards {
  display: inline-grid;
  font-family: 'Rajdhani', sans-serif !important;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  width: 300px;
  margin-top: 3%;
  font-weight: bold;
}

.mat-card-content>:last-child:not(.mat-card-footer),
.mat-card>:last-child:not(.mat-card-footer) {
  margin-bottom: 0;
  text-align: left;
  margin: auto;
  display: table;
  font-size: 20px;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  font-weight: bold;
  font-size: 19px;
}

#current-header {
  font-weight: bold;
  font-size: 30px;
}

.remove-add-button {
  font-weight: bold;
  font-size: 30px;
  font-family: 'Rajdhani', sans-serif !important;
}

p {
  word-wrap: break-word
}

.fa-sun:before {
  color: yellow;
}

#day-night{
  -webkit-animation: mover 1s infinite  alternate;
  animation: mover 1s infinite  alternate;
}

@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}
@media only screen and (max-width: 800px) {
  .weather-card {
    display: table-cell;
    width: 100%;
    height: 100%;
  }

  #current-header {
    font-size: 16px;
    font-weight: bold;
  }

  .remove-add-button {
    font-size: 16px;
    font-weight: bold;
    font-family: 'Rajdhani', sans-serif !important;
  }

  .weather-display-component {

    height: 100%;
}

#justify {

  justify-content: center;
}
.weather-control .row {
  justify-content: center;
}
}
